<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Example</title>
    </head>

    <body>
        <form method="get">
            <input name="search" placeholder="City" value="{{ search }}">

            <button>Submit</button>
        </form>

        <ul>
            {% for city in cities %}
                <li>{{ city.country.name_i18n }}, {{ city.name_i18n }} ({{ city.latitude }}, {{ city.longitude }})</li>
            {% endfor %}
        </ul>
    </body>
</html>